<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item" id="li-home"><a class="nav-link active" href="#!/">Home</a></li>
            <li class="nav-item"><a class="nav-link active" href="#!/create">New note</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <form class="form-horizontal" id="createForm">
            <fieldset>
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="text" name="title" class="form-control" id="title" ng-model="note.title" placeholder="Title">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                    <textarea name="content" class="form-control" id="content" rows="3" ng-model="note.content" placeholder="Content"></textarea>
                </div>
                </div>
                <p id="msg"></p>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <input ng-click="save()" type="button" id="submit" class="btn btn-success" value="Add Note"/>
                        <a href="#/" class="btn btn-secondary">Back</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>