<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item" id="li-home"><a class="nav-link active" href="#!/">Home</a></li>
            <li class="nav-item"><a class="nav-link active" href="#!/create">New note</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <div ng-controller="viewCtrl">
        <fieldset>
            <h4>{{notes.title}}</h4>
            <p>{{notes.content}}</p>
            <p>Created: {{notes.date_created}}</p>
        </fieldset>
        </div>
        <a ng-href="#!/update/{{note.id}}" class="btn btn-secondary">Update</a>
        <a href="#/" class="btn btn-secondary" id="goBack">Back</a>
    </div>
</div>
